.body-container{
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

@media screen and (max-width: 568px) {
    .body-container{
        display: list-item;
    }
    .card-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        justify-items: center;
    }
}